.container{
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

body{
    font-family: sans-serif;
}


a{
    display: block;
}


.logo{
    display: block;
    width: fit-content;
    color: #000;
    text-align: start;
    font-size: 80px;
    line-height: normal;
    text-decoration: none;
    margin-top: 63px ;
}


.logo-wrapper{
    color: #4BCAFF;
    font-size: 80px;
    line-height: normal;
}


.main-navigation{
    background-color: #35444F;
    height: 69px;
    margin-top: 40px;
    margin-bottom: 50px;
}


.nav-menu{
    height: 69px;
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.nav-menu-item{
    display: flex;
    color: #FFF;
    font-size: 24px;
    line-height: normal;
    padding: 24px 38px 18px 38px;
    border: 1px solid #FFF;
    /* border-right: 1px solid #FFF; */
}

.nav-menu-item:hover{
    background: #222F3A;

}

.nav-link{
    color: #FFF;
    text-decoration: none;
}


.main-context{
    display: flex;
    flex-direction: row;
}

.left-menu{
    border: 1px solid #000;
    width: 344px;
    height: 399px;
    margin-right: 52px;
}

.left-list{
    display: flex; 
    flex-direction: column;
    justify-content:center;
    align-items: stretch;
}


.left-list-item{
    display: flex;
    color: #495863;
    font-size: 27px;
    line-height: 27px;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 40px;
}
.left-menu-link{
    color: #495863;
    text-decoration: none;
}

.left-list-item:hover{
    background: #DBDBDB;
    padding-left: 60px;
    color: #000;
}



.image-background{
    width: 885px;
    height: 529px;
    display: flex;
    border: 1px solid #000;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.main-image:hover{
    transform: scale(1.1);
}

.content{
    display: flex;
    flex-direction: column;
    width:min-content;
    gap: 13px;
    margin-bottom: 51px;
}

.context-text{
    color: #2C2C2C;

    font-size: 18px;
    line-height: 24px;
}

.footer-menu{
    height: 69px;
    display: flex;
    background: rgba(99, 105, 110, 0.48);
    align-items: center;
    justify-content: space-between;
    width: 1280px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;   
}

.footer-list{
    height: 69px;
    display: flex; 
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 30px;
    margin-left: 40px;
}

.footer-list-item{
    display: flex;
    color: #0C1927;
    font-size: 28px;
    line-height: 28px;
}

.footer-link{
    color: #0C1927;
    text-decoration: none;
}



.footer-link:hover{
    text-decoration:underline;
    color: #3181A6;

}

.copyright-text{
    display: block; 
    color: #010101;
    font-size: 24px;
    line-height: 24px;
    margin-right: 40px;
}